html{
	font-family : "Helvetica Neue";
	padding: 30px;
	overview:hidden;
	max-width:100%;
}
body{
  max-width: 1000px;
	background: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

:hover,:active,:focus{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  outline:none;
}

.grid{
	width:100%;
	height:100%;
	margin-left:500px;
	:focus{
		.front{
			outline: #F00 10px solid;
			box-shadow: 10px 10px 5px #888888;
		}
	}
	.cell-container{
		transition: 0.4s;
		&.active{
			position:absolute;
			z-index:1000;
		}
		&.zoom .cell{
			transform: scale(1.5);
		}
	}
	.cell{
		width: 250px;
		height: 250px;
		position: absolute;
		.flipper {
			.front,
			.back{
				width: 235px;
				height: 235px;
				float:left;
				&:hover{
					cursor:pointer;
				}

				-moz-border-radius: 200px;
				-webkit-border-radius: 200px;
				border-radius: 200px;

			}
			.back{
				background: #e20c77;
				color:#FFF;
			}
		}

	}

}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
	transition: 0.6s;
}
	/*  UPDATED! flip the pane when hovered */
	.cell-container.active .back {
		transform: rotateY(0deg);
	}
	.cell-container.active .front {
	    transform: rotateY(180deg);
	}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: all 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}


.screen{
	position:fixed;
	width: 100%;
	height: 100%;
	background:transparent;
}


/*Maitrik Code*/

.rating-circle{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  margin-top: 25%;
}

.rating-circle h1{
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
}

.rating-circle h5{
  margin: 10px auto;
  font-size: 25px;
  color: white;
  text-align: center;
}

.title-text{
  text-align: center;
  margin-left: -250px;
  color: #4d4d4d;
  margin-bottom:100px;
}

.AA{
  background: #c1d035;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
	-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
 	box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.A{
  background: #00c3bf;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.B{
  background: #63b726;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.C{
  background: #f04887;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.D{
  background: #ffb928;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.E{
  background: #fd615d;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}
.HR{
  background: #b61843;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.71);
}


@import "leapcursor";
