html{
	font-family : "Helvetica Neue";
	overflow: hidden;
	max-width:100%;
	background: url(../imgs/bg.jpg) center center;
  	background-size: cover;
  	background-repeat: no-repeat;
}

.body-height{
	overflow: hidden !important;
}

:hover,:active,:focus{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  outline:none;
}

.grid{
	width:100%;
	height:100%;
	display:inline-block;
	:focus{
		.front{
			/*
			outline: #F00 10px solid;
			box-shadow: 10px 10px 5px #888888; */
		}
	}
	.cell-container{
		transition: 0.4s;
		&.flip{
			position:absolute;
			z-index:1000;
			animation-name: hideslow;
    		animation-duration: .5s;
    		animation-delay: .2s;
    		animation-iteration-count: 1;
    		opacity:0;
		}
		&.flip.loan{
			opacity:1;
			animation-name: none;
		}
		&.zoom {
			position:absolute;
			z-index:1000;
			.cell{
				transform: scale(2.5);
			}
		}
		&.hide{
			opacity: 0;
		}
	}
	.cell{
		width: 250px;
		height: 250px;
		position: absolute;
		.flipper {
			.front,
			.back{
				width: 235px;
				height: 235px;
				float:left;
				&:hover{
					cursor:pointer;
				}

				-moz-border-radius: 200px;
				-webkit-border-radius: 200px;
				border-radius: 200px;

			}
			.back{
				// background: #e20c77;
				color:#FFF;
			}
		}

	}

}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
	transition: 0.6s;
}
	.cell-container.flip .back {
		transform: rotateY(0deg);
	}
	.cell-container.flip .front {
	    transform: rotateY(180deg);
	}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: all 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}


.screen{
	position:fixed;
	width: 100%;
	height: 100%;
	background:transparent;
}


/*Maitrik Code*/

.rating-circle{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  margin-top: 25%;
	h1{
	  color: white;
	  font-size: 50px;
	  margin-bottom: 0px;
	  text-align: center;
	}
	h5{
		margin: 10px auto;
	  font-size: 25px;
	  color: #f6f6f6;
	  text-align: center;
	}
}

.add-rating-circle{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
	margin-left: -30px;
	h1{
		margin: 25px auto;
		font-size: 35px;
		color: white;
		text-align: center;	}
	h4{
		font-size: 15px;
		color: white;
		text-align: center;
		margin: 7px auto;
	}
}

.additional-info{
	p{
		font-size:11px;
		text-align:center;
		line-height:10px;
		color: white;
		padding:0;
		margin:0;

	}
	opacity:0;
}
.zoom .additional-info{
	opacity:1;
	transition: .2s;
	transition-delay: .5s;
}


.cart{
	margin-left: 1000px;
	display: inline-block;
	margin-bottom: 25px;
	height:50px;
	width:50px;
	background: url(../imgs/cart.png) center center;
  	background-size: cover;
  	background-repeat: no-repeat;
		h3{
    margin-top: 50px;
    width: 100px;
		}
}



.title-text{
  text-align: center;
  margin-left: -1200px;
  color: #4d4d4d;
}

.AA{
	  background: #c1d035;
	  border: 3px solid #e6e6e6;
	  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
		-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
	 	box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.A{
  background: #00c3bf;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.B{
  background: #63b726;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.C{
  background: #f04887;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.D{
  background: #ffb928;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.E{
  background: #fd615d;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}
.HR{
  background: #b61843;
  border: 3px solid #e6e6e6;
  -webkit-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
box-shadow: -1px 22px 32px -6px rgba(0,0,0,0.10);
}

@keyframes hideslow {
    from {opacity: 1;}
    to {opacity: 0;}
}
